USE [tramatix]
GO
/****** Object:  Table [dbo].[products]    Script Date: 7/17/2020 8:35:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] NULL,
	[name] [varchar](200) NULL,
	[color] [varchar](200) NULL,
	[description] [varchar](200) NULL,
	[price] [decimal](18, 0) NULL,
	[modelNumber] [int] NULL,
	[createdDate] [date] NULL,
	[video] [varchar](max) NULL,
	[image1] [varchar](max) NULL,
	[image2] [varchar](max) NULL,
	[image3] [varchar](max) NULL,
	[image4] [varchar](max) NULL,
	[companyName] [varchar](200) NULL,
	[category] [varchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
